@media screen and (max-width: 800px)
	body.slideRight
		height: 100vh


@media screen and (max-width: 660px)

	.fancybox
		&-margin
			margin-right: 0

		&-skin
			border-radius: 0

	.cat-popup
		height: 100vh
		overflow: auto

	main 
		.main-content 
			padding: 20px 0
			h1
				font-size: 2rem

			.content
				margin-top: 20px

	.category-table
		tbody, tr, td
			display: block

	.category-table 
		td
			&:not(:first-child)
				padding: 6px 9px !important

	iframe
		width: 100% !important
