@import "_vars.sss"
@import "_media.sss"


.table-wrap
	width: 100%
	overflow-x: auto

main .number_one .content .write
	margin-top: 15px


.contacts_col_cont_title.mobile
	display: none

.contacts_col_cont_txt-info
	display: none

